<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.Toku2001.trackandfieldapp.repository.UserMapper">
<select id="getUserInfo" resultType="io.github.Toku2001.trackandfieldapp.entity.User_Info">
	SELECT * FROM user_info 
	WHERE user_name = #{userName}
	</select>
</mapper>