<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.Toku2001.trackandfieldapp.repository.PasswordMapper">

    <select id="findUserMail" parameterType="String" resultType="io.github.Toku2001.trackandfieldapp.entity.PasswordResetToken">
        SELECT user_mail, token, expiry_Date
        FROM password_reset_tokens
        WHERE user_name = #{user_Name} 
        AND token = #{token}
    </select>

    <delete id="deleteByToken" parameterType="io.github.Toku2001.trackandfieldapp.entity.PasswordResetToken">
        DELETE FROM password_reset_tokens
        WHERE token = #{token}
    </delete>
    
    <insert id="insert" parameterType="io.github.Toku2001.trackandfieldapp.entity.PasswordResetToken">
    	INSERT INTO password_reset_tokens (user_name, user_mail, token, expiry_Date)
    	VALUES (#{user_Name}, #{user_Mail}, #{token}, #{expiry_Date})
	</insert>
	
	<update id="updateNewPassword" parameterType="io.github.Toku2001.trackandfieldapp.entity.User_Info">
        UPDATE user_info
        SET user_password = #{newUserPassword}
        WHERE user_name = #{user_Name}
        AND user_mail = #{user_Mail}
    </update>

</mapper>